<?xml version="1.0" encoding="utf-8"?>
<configuration> 
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="AppLog" value="Application.log"/>
		<add key="AppLogIsActive" value="1"/>
		<add key="ExternalEditorExecutablePath" value="notepad++.exe"/>
		<add key="ExternalEditorArguments" value="-ro -nosession -notabbar"/>
		<add key="MaxLoadLines" value="50000"/>
		<add key="Colors" value="#87cefa, #F9524A, #37FB02, #FB00FF,#EDD2FA, #D2FAFA"/>
		<add key="DisplayInInfobox" value="this, Parent, State, Line, LineNum, Port, ID"/>
		<add key="ColorCorrectionFactorPercent" value="15"/>
		<add key="MaxVisualDescriptionLength" value="30"/>
		<add key="VisualTimeFormat" value="HH:mm:ss.FFF"/>
		<add key="VisualDateTimeFormat" value="{0:dd/MM/yyyy-HH:mm:ss.FFF}"/>
	</appSettings>	
</configuration>
