<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="MaxLoadLines" value="50000"/>
		<add key="Colors" value = "#87cefa, #F9524A, #37FB02, #FB00FF,#EDD2FA, #D2FAFA"/>
		<add key="ColorCorrectionFactorPercent" value = "15"/>
		<add key="MaxVisualDescriptionLength" value="30"/>
		<add key="VisualDateTimeFormat" value="HH:mm:ss.FFF"/>
	</appSettings>	
</configuration>